.contact-box {
  background: $base-bg-color;
  border: 0.5px solid $border-color;
  border-radius: 5px;
  color: $font-gray;
  display: block;
  padding: 0 40px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
  h2 {
    color: $font-gray-darker;
    font-size: 16px;
    font-weight: 200;
    @media (min-width : 480px) {
      font-size: 24px;
      letter-spacing: 10px;
    }
    @media (min-width : 768px) {
      font-size: 32px;
    }
  }
  @media (min-width : 480px) {
    padding: 50px 40px;
  }
  @media (min-width : 992px) {
    width: 650px;
  }
}

.contact-box__form {
  border-bottom: .5px solid $border-color;
  font-size: 12px;
  font-weight: 200;
  @media (min-width : 480px) {
    letter-spacing: 5px;
  }
  @media (min-width : 768px) {
    font-size: 16px;
  }
}

.contact-box__input {
  background: $base-bg-color;
  border: .5px solid $border-color;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
}

.contact-box__input::placeholder {
  color: $font-gray;
  text-transform: uppercase;
  @media (min-width : 480px) {
    letter-spacing: 5px;
  }
}
.contact-box__button {
  background: $btn-bg-color;
  border: .5px solid $border-color;
  border-radius: 5px;
  line-height: 50px;
  margin-bottom: 20px;
  padding: 0; //reset user-agent stylesheet padding
  text-transform: uppercase;
  width: 75%;
  &:hover {
    border: .5px solid $btn-color-hover;
    color: $btn-color-hover;
  }
  @media (min-width : 480px) {
    letter-spacing: 5px;
    width: 40%;
  }
}

.contact-box__social-media {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width : 480px) {
    margin-bottom: 0;
  }
}

.contact-box__notification-container {
  padding-top: 20px;
}

.contact-box__notification {
  margin-bottom: 20px;
  display: none;
  letter-spacing: 0;
}
