<div class="landing-page__container">
  <header class="landing-page__header">
    <h1>We are one because we <%= image_tag("srvd-final.png", class: "landing-page__logo", alt: "SRVD logo") %> .</h1>
  </header>
  <header class="landing-page__header--mobile">
    <h1>We are one because we</h1>
    <%= image_tag("srvd-final.png", class: "landing-page__logo--mobile", alt: "SRVD logo") %>
  </header>
  <section class="contact-box">
        <h2>pardon our dust</h2>
        <form action="http://iserved.us12.list-manage.com/subscribe/post" method="POST" class="contact-box__form">
            <input type="hidden" name="u" value="3b2922328f274d6072bd80f2b">
            <input type="hidden" name="id" value="9e3217776e">
            <div>We'll let you know when we're ready</div>
            <input name="MERGE0" class="contact-box__input" type="email" placeholder="Email">
            <div>
              <button class="contact-box__button">Notify Me</button>
            </div>
        </form>
        <div class="contact-box__social-media">
            <a class="social-icon__container" href="https://twitter.com/SRVD_US">
              <i class="fa fa-twitter social-icon"></i>
            </a>
        </div>
  </section>
</div>
