<div class="landing-page-wrap">
    <div class="email-box">
        <span>Pardon our dust, we can let you know when it is ready</span>
        <form>
            <input type="text" name="email" placeholder="Email">
        </form>
        <button>Notify Me</button>
        <a class="twitter" href="https://twitter.com/SRVD_US">Twitter</a>
    </div>
</div>
