<section class="contact-box">
    <h2>pardon our dust</h2>
    <form class="contact-box__form">
        <div>We'll let you know when we're ready</div>
        <input class="contact-box__input" type="email" placeholder="Email">
        <div>
          <button class="contact-box__button">Notify Me</button>
        </div>
    </form>
    <div class="contact-box__social-media">
        <a class="social-icon" href="https://twitter.com/SRVD_US">X</a>
    </div>
</section>
