// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

* {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: image-url("landing_page_background.jpg") top no-repeat;
}
