// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// - - colors

// font colors
$font-gray: #636D74;
$font-gray-darker: #333;
$landing-page-brand-color: #ACDBE2;

// border colors
$border-color: #BFC1C3;

// button colors
$btn-bg-color: #fafafa;
$btn-color-hover: #333;


// background colors
$base-bg-color: #fafafa;
